* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#root {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

li {
  list-style: none;
}

menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  justify-content: center;
}

menu li {
  padding: 1rem;
  border: 1px solid #000;
  cursor: pointer;
}

article,
.empty-message {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #ffc5a2;
}